.con{
    height: 95vh;
    width: 100%;
    background: linear-gradient(to left,#192c6b, #261a7a,#421160);
    margin-top: 65px;
    /* background: linear-gradient(to left,#192c6b, #261a7a,#421160); */
    /* background: linear-gradient(to left, rgb(15, 1, 56), rgba(91, 20, 94, 0.801),#421160); */
    background: linear-gradient(to left,#000001, rgb(11, 10, 37),rgb(41, 60, 104));
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    color: rgb(232, 236, 152);
    font-family: 'Noto Serif Vithkuqi', serif;
    text-align: center;
    padding-top: 30px;
    
}

.details{
    color: rgb(150, 190, 175);
    font-size: 50px;

}
.typee{
    color: rgb(132, 117, 104);
    font-size: 50px;
}



@media screen and (max-width: 640px) {
            
    .con{
        
        /* height: 100vh; */
        /* width: 100%; */
        font-size: 50px;
        /* border: 2px solid grey; */
    }
    .details{
        /* border: 2px solid rgb(192, 16, 16); */
        font-size: 24px;
        padding: 0px;
        margin: 0px;
    }
    .typee{
        /* border: 5px solid yellow; */
        font-size: 30px;
        padding: 0px;
        margin: 0px;
    }


}